<app-header></app-header>

<!--<div class="container-fluid">-->
  <div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-recipes></app-recipes>
      <hr>
      <app-shopping-list></app-shopping-list>

      <!--<div class="jumbotron">
        <h1>Welcome</h1>
        <h2>Angular & Bootstrap Demo</h2>
      </div>-->

      <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->

      <!--<button type="button" class="btn btn-primary">Primary</button>-->

    </div>
  </div>
</div>


